#container{
    background-color:#f2f2f2;
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}
#container > div{
    height: calc(100% / 16);
    flex: 0 0 calc(100% / 16);
    border: 1px solid gray;
    box-sizing: border-box;
    display: inline-block;
    aspect-ratio: 1;
}   

button{
    padding: 10px;

}