.header{
    border: 1px solid salmon;
    text-align: center;
}
#container{
    background-color:white;
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid red;
    aspect-ratio: 1;
}
#container > div{
    height: calc(100% / 16);
    flex: 0 0 calc((100% -15px) -2px);
    border: 1px solid lightgray;
    box-sizing: border-box;
    cursor: crosshair;
    aspect-ratio: 1;

}   

button{
    display: flex;
    padding: 10px;
    gap: 10px;
    border: none;
    align-items: center;
    flex-direction: column;
    width: 100px;
}
.buttonsDE{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    cursor: pointer;
}
button span{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
img{
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    background-color: yellow;
}

#colorInput{
    width: 100px;
    height: 100px;
    padding: 0;
    border: none;;
    border-radius: 20%;
    background-color: white;
    cursor: pointer;
}

.gridContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    flex-direction: row;
    gap: 10px;
}

.gridContainer button{
    width: 50px;
    font-size: 12px;
}
#gridSizeInput{
    width: 100px;
    font-size: 15px;
}